@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;1,300&family=Poppins:wght@300;400&display=swap');
:root {
  --logo-font: 'Cormorant Garamond', serif;
  --text-font: 'Poppins', sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before, 
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

